<header class="header">
  <div class="container">
    <nav class="header-nav">
      <!-- Navigation -->
      <ul class="header-nav-menu">
        <li class="nav-item active">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favorites.html" class="nav-link">Favorites</a>
        </li>
      </ul>
      <!-- Logo -->
      <a href="./index.html" class="header-logo"><span class="text-accent">tasty</span>treats</a>

      <!-- Shopping cart button -->
      <button class="btn-header-icon btn-header-cart">
        <svg class="icon-cart" width="32" height="32">
          <use href="../img/icons/icons.svg#shopping-cart"></use>
        </svg>
      </b>
      <!-- Mobile menu hamburger button -->
      <button class="btn-header-icon btn-header-menu js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="icon-menu" width="32" height="32" aria-label="Mobile menu toggle button">
          <use href="../img/icons/icons.svg#menu-burger"></use>
        </svg>
      </button>
      <!-- Theme switch -->
      <button class="btn-header-icon btn-theme">
        <svg  width="32" height="32">
          <use></use>
        </svg>
      </button>



    </nav>
  </div>
</header>