<header class="header">
  <div class="container">
    <nav class="nav">
      <!-- Navigation -->
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./favorites.html" class="nav-link">Favorites</a>
        </li>
      </ul>
      <!-- Logo -->
      <a href="./index.html" class="header-logo"></a>

      <!-- Shopping cart icon -->
      <a href="" class="header-cart-icon">
        <svg>
          <use></use>
        </svg>
      </a>

      <!-- Theme switch -->
      <a href="" class="header-theme-icon">
        <svg>
          <use></use>
        </svg>
      </a>
    </nav>
  </div>
</header>